header {
    
    width: 90%;
    padding: 10px;
    margin-bottom: 1vh;
    
}

header img {
    margin-bottom: auto;
    width: 40vh;
}
nav button {
    width: 20vh;
    height: 6vh;
    
}
#hero {
    height: 30vh;
    width: 100vh;
    
}
#listoforigins img {
    max-width: 90vh;
}
#hero img {
    flex-grow: 2;
    margin-left: 10vh;
}
#home {
    width: 80%;
    margin: auto;
    padding: 10vh;
    border-radius: 10px;
    padding-bottom: 4vh;
}
#hero div {
    flex-direction: column;
    
}
#modlist {
    width: 80%;
    padding: 10vh;
    
}
.modcol1 img {
    width: 40vh;

}