/*FONT CSS*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');


/*UNIVERSAL CSS*/
* {
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}
h1 {
    text-align: center;
}

p {
    margin-top: 2px;
    margin-bottom: 2px;
}
.mod a:link, .mod a:visited, .mod a:hover, .mod a:active {
    color: black;
    text-decoration: none;
}



/*HEADER CSS*/
header {
    display: flex;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;
}
nav button {
    flex-basis: 30%;
    transition: background-color .3s;
    white-space:nowrap;
    margin-bottom: auto;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    background-color: transparent;
    border: transparent solid;
    border-radius: 3px;
    font-size: large;
    

}

nav button:hover, nav button:active, .activebutton {
    background-color: white;
    border: rgb(209, 209, 209) solid;
    border-bottom: #520000 solid;
}




/*COLLAPSIBLE CSS*/
.collapsible {
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    font-weight: bold;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.collapsible:hover {
    background-color: #333;
    
}
.active {
    background-color: #333;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0px;
}



/*MODLIST CSS*/
.mod {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(240, 238, 238);
    padding: 1vh;
    border: #333 solid;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
    transition: display 2s;
}
#modlist {
    display: none;
    transition: display 2s;
    margin: auto;
    border-radius: 10px;
}
.modcol1 {
    display: flex;
    flex-direction: column;
    padding-right: 2vh;
}
.modcol2 {
    display: flex;
    flex-direction: column;
    padding-right: 2vh;
    width: 200vh;
}

.modheader {
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    

}
.modwarning {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

/*DOWNLOAD BUTTONS*/
.download {
    width: 100%;
}
/*AUTHORS*/
.author img {
    width: 4vh;
    height: 4vh;
    display: inline-flex;
    padding-right: 5px;
}
.author {
    display: flex;
    height: 4vh;
    margin: 1vh;
}
.author p {
    margin-top: 4.5px;
}


/*HOME CSS*/


#home hr {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*HEROS*/
#hero {
    margin: auto;
    object-fit: cover;
    border-radius: 10px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 0;
    flex-wrap: wrap;
}

#hero div button {
    flex-grow: 1;
    width: 100px;
    margin-bottom: 1.5vh;
    background-color: white;
    cursor: pointer;
    color: black;
    font-weight: bold;
    padding: 15px;
    border: rgb(209, 209, 209) solid;

}
#hero div {
    display: flex;
    margin-right: 5vh;
}

/*FEATURE SPOTLIGHT*/
.feature img {
    width: 80%;
    margin: 1vh;
    border-radius: 3px;
}
#featurespotlight {
    width: 80%;
    margin: auto;
}
.feature {
    display: flex;
}


/*CHANGELOG CSS*/
#changelog {
    display: none;
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 10vh;
    border-radius: 10px;
}
